<h1>Add New Movie</h1>

<%=  form_with(model: @movie, local: true) do |form| %>
    <div class="field">
        <%=  form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :rating %>
        <%= form.text_field :rating %>
    </div>

    <div class="field">
        <%= form.label :release_date %>
        <%= form.date_field :release_date %>
    </div>

    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div class="actions">
        <%= form.submit  "Add Movie" %>
    </div>
<% end %>

<%= link_to "Back to Movies", movies_path %>

